.h5p-background-selector {
  height: 100%;
}

.h5p-background-selector-content-wrapper {
  overflow: hidden;
  overflow-y: auto;
  height: calc(100% - 4.35em);
}

.h5p-settings-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 14em;
  z-index: 3;
  background: #FFF;
  font-size: 1rem;
  border: 1px solid #ccc;
  box-shadow: 0 0 0.15em 0 #d1d1d1;

  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  visibility: visible;

  -webkit-transition: visibility 0s linear 0s, transform 0.2s, opacity 0.2s ease-in;
  transition: visibility 0s linear 0s, transform 0.2s, opacity 0.2s ease-in;
}

.h5p-settings-wrapper.hidden {
  visibility: hidden;
  opacity: 0;

  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);

  -webkit-transition: visibility 0s linear 0.2s, transform 0.2s, opacity 0.2s ease-in;
  transition: visibility 0s linear 0.2s, transform 0.2s, opacity 0.2s ease-in;
}

.h5p-slide-selector-option {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  color: #323232;
  font-size: 0.875em;
  padding: 0.5em;
}

.h5p-course-presentation a.h5p-slide-selector-option:focus {
  outline: rgb(94, 158, 214) auto 5px;
}

.h5p-slide-selector-option:hover,
.h5p-slide-selector-option.active {
  color: #3973b0;
}

.h5p-slide-selector-option:hover:after,
.h5p-slide-selector-option.active:after {
  content: "";
  position: absolute;
  width: 60%;
  height: 100%;
  border-bottom: solid #3973b0 1px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.h5p-slide-selector-content {
  display: none;
  font-size: 0.875em;
}

.h5p-slide-selector-content.show {
  display: block;
}
