/* Positioning of main elements */
.h5p-image-hotspot-question-editor .task-description {
  margin-bottom: 1em;
}

.h5p-image-hotspot-question-editor .none-selected-feedback,
.h5p-image-hotspot-question-editor .show-feedback-as-popup,
.h5p-image-hotspot-question-editor .feedback-translations {
  margin-top: 1em;
}

.field-name-imageHotspotQuestion > .h5p-editor-flex-wrapper {
   display: none;
 }

/* Toolbar styling */
.h5p-image-hotspot-question-editor .image-hotspot-dnb-wrapper {
  display: block;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #f5f5f5;
  z-index: 2;
}

.h5p-image-hotspot-question-editor .h5p-dragnbar-ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
}

.h5p-image-hotspot-question-editor .h5p-dragnbar-li {
  float: left;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
}

.h5p-image-hotspot-question-editor .h5p-dragnbar-a {
  font-size: 16px;
  width: 1em;
  line-height: 1.5em;
  text-align: center;
  background: linear-gradient(to bottom,#fff 0,#f2f2f2 100%);
  border: 1px solid #ccc;
  border-radius: 0.25em;
  margin: 0.25em;
  display: block;
  padding: 0.25em 0.75em;
  color: #333;
}

.h5p-image-hotspot-question-editor .h5p-dragnbar-a:hover {
  text-decoration: none;
  border-color: #999;
}

.h5p-image-hotspot-question-editor .h5p-dragnbar-a:link, .h5p-dragnbar-a:visited  {
  color: #555;
}
.h5p-image-hotspot-question-editor .h5p-dragnbar-a:before {
  font-family: 'H5PFontAwesome4';
  content: "?";
}
.h5p-image-hotspot-question-editor .h5p-dragnbar-a:hover {
  text-decoration: none;
}

.h5p-image-hotspot-question-editor .h5peditor-dragnbar .h5p-dragnbar-ul .h5p-dragnbar-li:hover:before {
  transform: translate(3%, 125%);
  left: auto;
}

.h5p-image-hotspot-question-editor .h5p-dragnbar-rectangle-button:before {
  content: "\f096";
  vertical-align: middle;
}

.h5p-image-hotspot-question-editor .h5p-dragnbar-circle-button:before {
  content: "\f1db";
  vertical-align: middle;
}

/* Hotspot element */
.h5p-image-hotspot-question-editor .h5p-hotspot-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  cursor: move;
}

.h5p-image-hotspot-question-editor .h5p-hotspot-element {
  position: relative;
  box-sizing: border-box;
  border: 2px solid rgba(255,255,255,0.7);
  background-color: rgba(255,255,255,0.5);
  height: 100%;
  width: 100%;
}
.h5p-image-hotspot-question-editor .h5p-hotspot-element:before {
  content: " ";
  display: block;
  position: absolute;
  border: 2px dashed rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: -2px;
  left: -2px;
}

.h5p-image-hotspot-question-editor .h5p-hotspot-element.circle,
.h5p-image-hotspot-question-editor .h5p-hotspot-element.circle:before  {
  border-radius: 50%;
}

/* Image interface */
.h5p-image-hotspot-question-editor .image-hotspot-gui {
  position: relative;
  display: block;
  border-right: solid 1px #d2d2d2;
  border-bottom: solid 1px #d2d2d2;
  border-left: solid 1px #d2d2d2;
  background-color: white;
  z-index: 0;
}

.h5p-image-hotspot-question-image {
  display: block;
  min-width: 28em;
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

/* Hotspot dialog */
.h5p-image-hotspot-question-editor .h5peditor-fluid-dialog {
  display: inline-block;
  background: #fff;
  margin: 1em;
  z-index: 1;
  border: 1px solid #000;
  position: relative;
}

.h5p-image-hotspot-question-editor .h5peditor-fluid-dialog.outside-side {
  margin: 0 1em;
  vertical-align: top;
}

.h5p-image-hotspot-question-editor .h5peditor-fluid-dialog.inside {
  position: absolute;
  left: 0;
  top: 0;
  width: 400px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 4px #a7a7a7;
  -moz-box-shadow: 0 0 4px #a7a7a7;
  box-shadow: 0 0 4px #a7a7a7;
}

.h5p-image-hotspot-question-editor .h5peditor-fluid-dialog.hidden {
  display: none;
}

.h5p-image-hotspot-question-editor .h5peditor-fd-inner {
  padding: 0.75em;
}

/* Dialog button bar */
.h5p-image-hotspot-question-editor .h5peditor-fd-buttons {
  overflow: hidden;
  border-top: 1px solid #ccc;
  background: #f5f5f5;
}

.h5p-image-hotspot-question-editor button.h5peditor-fd-button {
  font-size: 0.75em;
  float: right;
  padding: 0.625em 2em;
  margin: 0.5em;
  border-radius: 0.25em;
  border: 1px solid #20588F;
  color: #fff;
  background: #3673B5;
  background: -webkit-linear-gradient(top,#5A94D3 0,#3673B5 100%);
  background: -moz-linear-gradient(top,#5A94D3 0,#3673B5 100%);
  background: -ms-linear-gradient(top,#5A94D3 0,#3673B5 100%);
  background: -o-linear-gradient(top,#5A94D3 0,#3673B5 100%);
}

.h5p-image-hotspot-question-editor button.h5peditor-fd-button:hover {
  background: #3275bc;
  background: -webkit-linear-gradient(top,#3275bc 0,#285585 100%);
  background: -moz-linear-gradient(top,#3275bc 0,#285585 100%);
  background: -ms-linear-gradient(top,#3275bc 0,#285585 100%);
  background: -o-linear-gradient(top,#3275bc 0,#285585 100%);
}

.h5p-image-hotspot-question-editor button.h5peditor-fd-button.h5peditor-remove {
  background: none;
  border: 1px solid transparent;
  color: #a00;
  padding-right: 0;
}

.h5p-image-hotspot-question-editor button.h5peditor-fd-button.h5peditor-remove:hover {
  color: #e40000;
}

/* Image wrapper */
.h5p-image-hotspot-question-editor .gui-wrapper {
  display: inline-block;
  position: relative;
}

/* No image style */
.h5p-image-hotspot-question-editor.no-image > *:not(.error-message) {
  display: none;
}

.h5p-image-hotspot-question-editor.no-image .error-message {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 1em;
}

.h5p-image-hotspot-question-editor .error-message {
  display: none;
}

.h5p-image-hotspot-question-editor .error-message .h5p-no-image-icon {
  width: 8em;
  height: 8em;
  margin: 0 auto;
  background-image: url('images/no-image-source.svg');
  background-repeat: no-repeat;
}

.h5p-image-hotspot-question-editor .error-message .h5p-no-image-title {
  font-size: 1.7em;
}

.h5p-image-hotspot-question-editor .error-message .h5p-no-image-text {
  font-size: 1em;
}

.h5p-image-hotspot-question-editor .error-message .h5p-no-image-button {
  margin: 1em 0 1.5em 0;
  padding: 0.8em 1.8em;
  font-weight: 100;
  font-size: 1em;
  line-height: 1em;
}

.h5p-image-hotspot-question-editor .error-message .h5p-no-image-button:before {
  font-family: 'h5pFontIcons';
  content: "\e910";
  -webkit-backface-visibility: hidden;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  display: block;
  float: left;
  padding: 0;
  font-size: 1.2em;
}

/* Overlay for disabling clicks */
.h5p-image-hotspot-question-editor .disabling-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.h5p-image-hotspot-question-editor .disabling-overlay.hidden {
  display: none;
}

.h5p-imagehotspotquestion-editor .h5peditor-form {
  border-radius: 0;
  padding: 0;
  background: #fff;
}

.h5p-imagehotspotquestion-editor .field.wizard > .h5peditor-panes > .group > .content,
.h5p-image-hotspot-question-editor.content {
  border: 0;
}

.h5p-imagehotspotquestion-editor .field.wizard .h5peditor-tab-backgroundimagesettings:before {
  content: '\e913';
}

.h5p-imagehotspotquestion-editor .field.wizard .h5peditor-tab-hotspotsettings:before {
  content: '\e915';
}

.h5p-imagehotspotquestion-editor .toggle-metadata {
  top: 1.2em;
}

.h5p-imagehotspotquestion-editor .h5p-editor-dialog.h5p-metadata-wrapper {
  left: 3%;
}
