.h5p-radio-selector-values > .field {
  display: none;
  margin: 1em 0;
}

.h5p-radio-selector-values > .field.show {
  display: block;
}

.h5p-radio-selector-label {
  display: block;
  margin: 0.5em 0;
}

.h5p-radio-selector-label {
  cursor: pointer;
}
