.file.arMarkerGenerator .h5peditor-ar-marker-generator-marker-image-wrapper {
  max-width: 250px;
}

.file.arMarkerGenerator .h5peditor-ar-marker-generator-marker-image {
  max-height: 100%;
  max-width: 100%;
}

.file.arMarkerGenerator .thumbnail.h5peditor-ar-marker-generator-display-none {
  display: none;
}

.arMarkerGenerator .h5peditor-ar-marker-generator-buttons {
}

.arMarkerGenerator .h5peditor-ar-marker-generator-button-download {
  background: linear-gradient(to bottom, #fff 0, #f2f2f2 100%);
  color: #212121;
  font-size: 14px;
  font-weight: normal;
  height: 30px;
  line-height: 28px;
  margin-right: 0.5em;
  padding-left: 0;
  padding-right: 20px;
}

.arMarkerGenerator .h5peditor-ar-marker-generator-button-download:hover:not([disabled]) {
  background: linear-gradient(to bottom, #fff 0, #d0d0d1 100%);
  border-color: #999;
}

.arMarkerGenerator .h5peditor-ar-marker-generator-button-download::before {
  color: #666;
  content: "\e893";
  font-family: "H5P";
  font-size: 1.5em;
  line-height: 0.9;
  padding-left: 0.45em;
  padding-right: 0.3em;
  vertical-align: middle;
}

.arMarkerGenerator .h5peditor-ar-marker-generator-display-none {
  display: none;
}
