name: Build

on:
    push:
        branches:
            - master
    pull_request:

jobs:
    build-mac:
        runs-on: macos-latest

        strategy:
            matrix:
                node-version: [10.x]

        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}
            - name: NPM Setup
              run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
            - name: install
              run: npm ci && (cd client && npm ci)
            - name: Build macOS
              run: npm run build:mac:dev
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - run: rm -rf dist/mac/
            - name: Upload macOS artifacts
              uses: actions/upload-artifact@v2
              with:
                  name: macOS
                  path: dist/

    build-win:
        runs-on: windows-latest

        strategy:
            matrix:
                node-version: [10.x]

        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}
            - name: NPM Setup
              uses: filipstefansson/set-npm-token-action@v1
              with:
                  token: ${{ secrets.NPM_TOKEN }}
            - name: install server
              run: npm ci
              env:
                  NPM_TOKEN: $${ secrets.NPM_TOKEN }
            - name: Copy NPM config
              run: cp ./.npmrc ./client/.npmrc
            - name: install client
              run: cd client && npm ci
              env:
                  NPM_TOKEN: $${ secrets.NPM_TOKEN }
            - name: Build Windows
              run: npm run build:win
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  APPX_APPLICATION_ID: ${{ secrets.APPX_APPLICATION_ID }}
                  APPX_DISPLAY_NAME: ${{ secrets.APPX_DISPLAY_NAME }}
                  APPX_IDENTITY_NAME: ${{ secrets.APPX_IDENTITY_NAME }}
                  APPX_PUBLISHER: ${{ secrets.APPX_PUBLISHER }}
                  APPX_PUBLISHER_DISPLAY_NAME: ${{ secrets.APPX_PUBLISHER_DISPLAY_NAME }}
            - run: Remove-Item 'dist\win-unpacked' -Recurse -Force
            - name: Upload Windows artifacts
              uses: actions/upload-artifact@v2
              with:
                  name: Windows
                  path: dist

    build-linux:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [10.x]

        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}
            - name: NPM Setup
              run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
            - name: install
              run: npm ci && (cd client && npm ci)
            - name: Build Linux
              run: npm run build:linux
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Upload Linux artifacts
              uses: actions/upload-artifact@v2
              with:
                  name: Linux
                  path: dist/
