name: Test

on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [10.x]

        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}
            - name: NPM Setup
              run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
            - name: install
              run: npm ci && (cd client && npm ci)
            - name: lint
              run: npm run lint
            - name: build:server
              run: npm run build:server
            - name: build:client
              run: npm run build:client
            - name: unit-tests
              run: npm run test
              env:
                  CI: true
